aside {
    background-color: rgba(255,255,255,.8);
    padding: 2em;
    color: black;
}

menu h2 {
    padding: .5em;
    background-color: coral;
}

menu a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 2em;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}

menu a:hover {
    background-image: linear-gradient(to right, white, rgba(255,0,0,.8));
    color: black;
}

#kurzus {
    /*border-radius: 20px;*/
    font-size: 1.5em;
    color: black;
    font-family: 'Dosis', sans-serif;
}

@media (min-width:768px){
    aside {
        float: left;
        width:40%;
    }
    menu {
        float: right;
        width:60%;
    }
}