body {background: black;}

.cim {
    /*background-color: rgba(255,255,255,.8);*/
    /*background-color: rgba(26,26,29,.9);*/
    /*background: #FF9B6A;*/
    background: white;
    padding: 3rem;
    text-align:center;
}

.cim h1 {
    margin:1rem;
    font-family: 'Inter', sans-serif;
}

.cim h2 {
    margin: 1rem 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.cim p {
    text-align: justify;
}

section {
    position: relative;
    display: block;
    text-align: center;
    /*margin: .2em;*/
    color: white;
}

.sarga {
    background: #FF5151;
    color: black;
}
.coral {
    background: #FF9B6A;
    color: white;
}
.blue {
    background: #191970;
    color: white;
}
.cyan {
    background: cyan;
    color: black;
}
.white {
    background: white;
    color: black;
}

section a {
    display: block;
    padding: 5em 0;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

section a:hover {
    background-color: /*#FF5151;*/ #FF9B6A;
    color: black;
}

.fekete {
    color: black;
}

#html {
    background-image: url('25328.jpg');
    background-size:cover;
    background-position:center;
}

#prog {
    background-image: url('laptop-5714421_640.jpg');
    background-size:cover;
    background-position:center;
}

#ab {
    background-image: url('internet-8097838_640.jpg');
    background-size:cover;
    background-position:center;
}

#swf {
    background-image: url('technology-8676538_640.jpg');
    background-size:cover;
    background-position:center;
}

#webalk {
    background-image: url('social-media-6721926_640.png');
    background-size:cover;
    background-position:center;
}

#projekt {
    background-image: url('office-7799893_640.jpg');
    background-size:cover;
    background-position:center;
}

@media (min-width:1081px){
    #egy {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
    #ketto {
        display: grid;
        grid-template-columns: 25% 25% 50%;
    }
    main {
        display: grid;
        /*grid-template-columns: 25% 25% 25% 25%;*/
        grid-template-columns: 50% 50%;
    }
}